---
// component imports
import Link from "../components/Link.astro";
import MainLayout from "../layouts/MainLayout.astro";


---

<MainLayout title="About" description="My About Page">
	<section class="container about" aria-label="About Author">
		<img src="/images/headshot.jpg" alt="Blog Author" width="200" height="330">
		<div class="content">
			<h1 class="h1">Chris's Blog</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam eligendi qui a praesentium fugit voluptatum? Exercitationem neque incidunt consectetur non eius nemo veniam repudiandae. Possimus quis numquam corrupti delectus in adipisci, repellendus quae vitae fugiat, incidunt qui exercitationem, asperiores deserunt!</p>
		</div>
		<Link style="primary" text="Contact Chris" href="mailto:chris@codinginpublic.dev"/>
	</section>
</MainLayout>